


body {
	width:1300px;
	font-family: 'Segoe UI Light', sans-serif;
	color: #ffffff;
	background-color: #222222;
	padding-left:8%;
}

div#nav {
	margin-bottom:10px;
}

div#logo {

	width:1300px;
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
	background-image:url("logo.png");
	background-repeat:no-repeat;
	text-align:right;
	
}

div#menu {
	display:inline;
}

*#menu a {
	color:green;
}


div#szukanie {
	height:30px;
	color:red;
	display:inline;
}


#mainContent {
	background-color:#666;
	min-height:300px;
	
	padding-top:10px;
	padding-left:50px;
	padding-bottom:30px;
	
	border-radius:2px;
	
	
}




p.news {
	background-color:#1047A9;
	border-radius:5px;
	width:595px;
	margin-top:20;px;
	margin-left:20px;
	padding:10px;
	font-size:1em;
	font-stretch:expanded;
}

footer {
	background-color:#333;
	color:#999;
	font-size:0.8em;
	margin-top:10px;
	padding:2px;
}



input{
	padding: 2px;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 10pt;
}

button{
	padding: 2px;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 12pt;
	background-color: #238bff;
	border: none;
	color: white;
}





a:link, a:visited, a:hover {
	color:#238bff;
	text-decoration:none;
	margin-left:15px;
}